$def with (content)
  
   <link href="/static/css/detail.css" rel="stylesheet">
    	<div class="main row">
    		<div class="col-sm-8">
    			<div class="row">
	    			<div class="col-sm-4">
	    				<div class="thumbnail">
					    	<img src="$content['image_file']" alt="...">
				  		</div>
	    			</div>
	    			<div class="meta-info col-sm-8">
	  				<div class="nav">
	    				<h4 class="navbar-header">$content['title']</h4>
		    			<div class="rating navbar-right navbar-text">
		    				<span class="glyphicon glyphicon-star"></span>
		    				<span class="glyphicon glyphicon-star"></span>
		    				<span class="glyphicon glyphicon-star"></span>
		    				<span class="glyphicon glyphicon-star"></span>
		    				<span class="glyphicon glyphicon-star"></span>
		    			</div>
	    			</div>
	    			<div class="row">
	    				<dl class="dl-horizontal">
	    					<dt>Type</dt>
							<dd>$content['released_type'] $content['released_episodes']</dd>
							<dt>Year</dt>
							<dd>$content['begin_date'] - $content['end_date']</dd>
							<dt>Director</dt>
							<dd>$'. '.join(content['directors'])</dd>
							<dt>Animation Work</dt>
							<dd>$'. '.join(content['company'])</dd>
							<dt>Original Work</dt>
							<dd>$'. '.join(content['creators'])</dd>
	    				</dl>
	    			</div>
    			</div>
				</div>
				<div class="description detail">
					<h4 class="subtitle">Description</h4>
	    			<p>$content['desc']</p>
	    		</div>    	
				<div class="char-cast detail">
					<h4 class="subtitle">Characters.Casts</h4>
	    			<table class="table table-striped">
	    				<thead>
	    					<tr>
	    						<th>
	    							Character
	    						</th>
	    						<th>
	    							Cast
	    						</th>
	    					</tr>
	    				</thead>
	    				<tbody>
						$for i in content['casts']:
	    					<tr>
	    						<td>$i['char']</td>
	    						<td>$i['creator']</td>
	    					</tr>
	    				</tbody>
					</table>
	    		</div>   
				<div class="related detail">
					<h4 class="subtitle">Related Animes</h4>
	    			<div class="row" id="related">
						$for i in content['related_animes']:
							<a href="/detail/?id=$i[1]">
		    					<div class="thumbnail col-sm-3">
						    		<img class="media-object" src="$i[0]" alt="...">
					  			</div>
					  		</a>
				  	</div>
	    		</div>   
				<div class="pictures detail">
					<h4 class="subtitle">Pictures</h4>
					<div class="row" id="flickr">
						$for i in content['flickr']:
		    				<div class="thumbnail col-sm-3">
						    	<img class="media-object" src="$i" alt="...">
					  		</div>
				  	</div>
	    		</div>  
	    		<div class="amazon detail">
					<h4 class="subtitle">Amazon Reviews</h4>
				$if len(content['amazon'])>1:
					<iframe src="$content['amazon'][0]['CustomerReviews']"></iframe> 
	    		</div>  	
    		</div>
			<div class="col-sm-3 col-sm-offset-1 sidebar">
				<h4 class="subtitle">Related Tweets</h4>
				$for i in content['twitter']:
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="$i.user.profile_image_url" alt="$i.user.name">
						</a>
						<div class="media-body"> 
							<h5 class="media-heading">$i.user.name</h5>
							$i.text 
						</div>
					</div>
				<h4 class="subtitle">Related DVDs</h4>
				$for i in content['amazon'][:8]:
					<div class="media">
						<a class="pull-left" href="$i['DetailPageURL']">
							<img class="media-object" src="$i['SmallImage']" alt="$i['Title']">
						</a>
						<div class="media-body"> 
							<a href="$i['DetailPageURL']">
								<h5 class="media-heading">$i['Title']</h5>
							</a>
							<p>Lowest Price: $i['LowestNewPrice']</p> 
						</div>
					</div>
			</div>      	
      	</div>

		<script src="/static/js/detail.js" type="text/javascript"></script>